.container{
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: default;
  align-items: center;
}

.caloriesContainer {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
width:13vw
}

.textContainer{
  position:absolute;
  text-align: center;
  margin-left: 4vw;
}

.caloriesContainer h1, .caloriesContainer p {
  margin: 0.2vh
}

.caloriesContainer h1 {
  font-size: 3vh;
}

.macroPercentage{
  display: flex;
  width: 15vw;
  justify-content: space-between;
}

.macroPercentage p {
  margin-bottom: 0.8vh;
}

.percentageContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
}
