.testimonials {
    padding: 60px 20px;
    text-align: center;
    color: white;
  }
  
  .testimonials h2 {
    font-size: 3em;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  
  .testimonials h3 {
    font-size: 1.5em;
    margin-bottom: 6vh;
    color: #ccc;
  }
  
  .testimonialList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
  }
  
  .testimonialItem {
    display: flex;
    align-items: center;
    width: 400px; /* Increased width for layout */
    padding: 30px;
    background-color: var(--gray-medium);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #27282c);
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  

  .testimonialItem img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px; /* Space between image and content */
  }
  
  .testimonialContent {
    text-align: left;
  }
  
  .stars {
    color: var(--primary-color);
    margin-bottom: 10px; /* Space between stars and name */
  }
  .stars svg {
    margin-right: 0.3vw;
  }

  .testimonialItem h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--primary-color);
  }
  
  .testimonialItem p {
    font-size: 1.2em;
    color: #ddd;
  }