.card h2 {
  text-align: left;
}

.mealsList {
  display: flex;
  flex-direction: column;
  width: 29vw;
  justify-content: space-between;
  margin: 0 auto;
  color: #ffffff;
}

.mealsList {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.meals {
  height: 60vh;
  overflow: auto;
  width: 32vw;
}

.mealCard h4 {
  margin-top: 3vh;
}

.mealsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  padding: 0;
}

.openButton {
  position: absolute;
  cursor: pointer;
  right: 2vw;
  bottom: 0;
}

.mealAndIcon {
  display: flex;
  align-items: center;

}


.mealCard {
  background-color: #35373d;
  padding: 0 1vw;
  width: 28vw;
  border-radius: 2vh;
  margin: 1.4vh auto;
  cursor: pointer;
  min-height: 7vh;
}

.mealCard ul {
  list-style: none;
  padding: 0 2vw;
  margin: 0;
}

.mealCard.opened {
  min-height: 13vh;
  position: relative;
}

.mealIcon {
  height: 2.2vh;
  margin-right: 1vw;
  padding-bottom: 0.2vh;
}

.arrowIcon {
  height: 3vh;
  width: 3vh;
  cursor: pointer;
}

.titleAndIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:6vh
}

.mealDisplay {
  display: flex;
  margin-left: 0;
  align-items: center;
  height: 5vh;
}

.mealDisplay img {
  display: flex;
  align-items: center;
  width: 5vh;
  height: 5vh;
  object-fit: cover;
  border-radius: 1.5vh;
  margin-right: 1vw;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.mealInfo p {
  margin: 0;
  margin-top: 0.5vh;
}

.mealInfo {
  margin-top: -0.5vh;
}

.mealInfo svg {
  fill: var(--text-color);
  margin: 0;
  margin-right: 0.2vw;
}
