.workoutContainer {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 2vh;
  padding-top: 1vh;
 
}

.exerciseListContainer {
  width: 37vw;
  height: 57vh;
  margin-bottom: 3vh;
  overflow-y: hidden
}

.exerciseListContainer:hover {
  overflow-y: auto
}

.mainTitle {
  text-align: center;
  margin-bottom: 2vh;
  color: white;
}

  .nameAndIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nameAndIcon img {
    margin: 0 10px;
    height: 24px;
      }

      .buttonContainer {
        display: flex;
        justify-content: center;
        margin-left: 1vw;
      }