.exerciseTable {
  width: 100%;
  border-collapse: collapse;
}
.exerciseTable th, .exerciseTable td {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exerciseTable td:first-child {
  justify-content: left;
}
.exerciseTableRow {
  display: flex;
  width: 100%;
  height: 5vh;
  border-top: 1px solid #dddddd67;
  align-items: center;
}
.nameAndIcon {
  display: flex;
  align-items: center;
  width: 10vw;
}
.nameAndIcon svg {
  height: 2vh;
  margin: 0;
  margin-right: 0.6vw;
}
.starIcon {
  transition: color 0.05s ease-in-out;
}
.favorite {
  animation: pop 0.3s ease-in-out;
}
@keyframes pop {
  0% {
      transform: scale(1);
 }
  50% {
      transform: scale(1.3);
 }
  100% {
      transform: scale(1);
 }
}
.td {
  width: 5vw;
}
.input {
  background-color: #35373D;
  border-radius: 8px;
  height: 2.4vh;
  color: var(--text-color);
  border: 1px solid #4D4F56;
  text-align: center;
  width: 3vw;
  padding-left: 0.88vw;
  padding-bottom: 0.2vh;
}
