

.groupUl {
    margin: 0;
    list-style: none;
    max-height: 16vh;
    overflow-y: auto;
    padding-left: 0;
  }
  
  .outsideContainer {
    width: 22vw;
    border-radius: 8px;
    background-color: #35373D;
    border: 1px solid #4D4F56;
    padding: 0;
    transition: height 0.3s ease;
    margin-bottom: 2vh;
    
  }
  
  .groupUl li {
    display: flex;
    transition: height 0.5s ease;
    cursor: pointer;
    align-items: center;
    min-height: 3vh;
    padding-left: 0.5vw;
  }
  
  .groupUl li:hover {
    background-color: var(--gray-lightest);
  }

  .uncheckedIcon {
    fill: var(--text-color);
    font-size: 2vh;
    cursor: pointer;
  }
  
  .checkedIcon {
    fill: var(--primary-color);
    font-size: 2vh;
    cursor: pointer;
  }
  
  .exerciseName {
    width: 19vw;
    margin: 1.4vh 0;
  }
  
  .lists {
    display: flex;
    flex-direction: column;
  }
  
  .exerciseList {
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .exerciseList.open {
    height: auto;
  }
  
  .selectExercises {
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #8d8d8d;
  }
  
  .groupUl li.collapsed {
    height: 1.4vh;
  }
  
  .arrowContainer {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
 margin: 0.5vh auto;
 cursor: pointer;
  }



  .groupItem {
    list-style: none;
    display: flex;
    width: 18w;
    justify-content: space-between;
  }
 
  
  .buttons {
   margin: 0 auto;
    display: flex;
  }
  
  .arrowContainerSelectExercises {
    width: 18vw;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: #ffffff;
  }

  .listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 40vw;
    overflow: auto;
    height: 56vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }