.speechContainer {
    height: 45vh;
}

.responseContainer{
    width: 24vw;
    height: 4.5vh;
    border-radius: 100vh;
    background-color: var(--gray-light);
    display: flex;
    margin: 0 auto;
    margin-top: 2.5vh;
    align-items: center;
    justify-content: flex-end;
}

.responseContainer img {
    width: 1vw;
    height: 2.3vh;
    display: flex;
    margin-right: 1vw;
}

.responseContainer input {
    width: 80%;
    margin-right: 1.2vw;
    height: 60%;
    background-color: transparent;
    color: white;
    border:none
}

.responseContainer input:focus {
    outline: none;
}

