.registerContainer {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34vw;
  margin-top: 5vh;
  margin-right: 9vw;
  border-radius: 2vh;
  height: 78vh;
  text-align: center;
  cursor: default;
  user-select: none;
}

.registerContainer_mobile {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-top: 5vh;
  border-radius: 2vh;
  height: 78vh;
  text-align: center;
  cursor: default;
  user-select: none;
}


.formAddInfo {
  display: flex;
  width: 25.6vw;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -0.5vh;
  margin-bottom: 3vh;
  align-items: center;
  color: rgb(150, 150, 150);
}

.formAddInfo u {
  cursor: pointer;
}

.formAddInfo svg {
  cursor: pointer;
  margin-right: 0.5vw;
  fill: var(--primary-color);
}

.formAddInfo u:hover {
  transition: color 0.15s ease;
  color: #FFFFFF;
}

.nameAndIcon {
  display: flex;
  align-items: center;
}

.registerContainer h1 {
  margin: 0;
  text-align: center;
  margin-bottom: -2vh;
}

.registerContainer_mobile h1 {
  margin: 0;
  text-align: center;
  margin-bottom: -2vh;
}

.registerContainer form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 26vw;
}

.registerContainer_mobile form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 73vw;
}

.registerContainer form p {
  margin: 0.5vh 0;
}

.registerContainer_mobile form p {
  margin: 0.5vh 0;
}

.registerContainer label {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  flex-direction: column;
}

.inputField {
  margin-bottom: 4vh;
  padding: 0.5vw;
  border-radius: 0.8vh;
  border: 1px solid #4D4F56;
  background-color: #35373D;
  width: 26vw;
}

.inputField_mobile {
  margin-bottom: 2.4vh;
  padding: 1vw;
  border-radius: 0.8vh;
  border: 1px solid #4D4F56;
  background-color: #35373D;
  width: 70vw;
}

.title {
  margin: 8vh auto;
}

.title_mobile {
  margin: 8vh auto;
}

.register span {
  text-align: left;
}

.passwordInputGroup {
  position: relative;
}

.passwordInputGroup_mobile {
  position: relative;
}

.eyeButton {
  position: absolute;
  right: -1.2vw;
  top: -11%;
  padding: 1vw;
  fill: var(--gray-light);
  cursor: pointer;
  font-size: 2vh;
}

.eyeButton_mobile {
  position: absolute;
  right: 2vw;
  top: 0;
  padding: 1vw;
  fill: var(--gray-light);
  cursor: pointer;
  font-size: 2vh;
}

.infoContainer {
  border-radius: 0.8vh;
  padding-left: 12px;
  background-color: #f0f0f0;
  height: 2vh;
}

.buttonContainer {
  margin: 2vh auto 0 auto;
  width: 15vw;
}

.buttonContainer_mobile {
  margin: 2vh auto 0 auto;
  width: 50vw;
display: flex;
justify-content: center;
}

.register a {
  color: var(--primary-color);
}

.text {
  margin: 3vh 0;
}

.text_mobile {
  margin: 2.6vh 0 2vh 0;
}

.nameContainer {
  display: flex;
  width: 27vw;
  justify-content: space-between;
}

.nameContainer_mobile {
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: space-between;
}

.nameInputField {
  margin-bottom: 2.4vh;
  padding: 0.5vw;
  border-radius: 0.8vh;
  background-color: var(--gray-light);
  border: 1px solid var(--gray-lightest);
  width: 11vw;
}

.nameInputField_mobile {
  margin-bottom: 2vh;
  padding: 1vw;
  border-radius: 0.8vh;
  background-color: var(--gray-light);
  border: 1px solid var(--gray-lightest);
  width: 70vw;
}

.loaderContainer {
  height: 3.6vh;
  display: flex;
  justify-content: center;
  margin: 2vh auto 0 auto;
}

.errorContainer {
  display: flex;
  justify-content: center;
  margin: 0;
}

.errorContainer_mobile {
  display: flex;
  justify-content: center;
  margin: 0;
}

.error {
  display: flex;
  justify-content: center;
  margin: 0;
}

.error_mobile {
  display: flex;
  justify-content: center;
  margin: 0;
}

.passwordStrength {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1vh;
  margin-bottom: 3vh;
  color: var(--text-color-secondary)
}

.passwordStrength_mobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1vh;
  margin-bottom: 3vh;
  color: var(--text-color-secondary)
}

.progressBar {
  position: relative;
  width: 50%;
  height: 0.6vh;
  background-color: #ddd;
  border-radius: 0.6vh;
  overflow: hidden;
  margin-left: 1vw;
}

.progressBar_mobile {
  position: relative;
  width: 50%;
  height: 0.6vh;
  background-color: #ddd;
  border-radius: 0.6vh;
  overflow: hidden;
  margin-left: 1vw;
}

.progress {
  height: 100%;
  transition: width 0.5s ease;
}

.weak {
  background-color: #FF7A7A;
}

.medium {
  background-color: #FFBA7A;
}

.good {
  background-color: var(--primary-color)
}

.strong {
  background-color: #7AFF8F;
}

.loginOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
