/* General styles */
.mainInfo {
  display: flex;
  position: relative;
}

.imgSection {
  width: 21vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSection img {
  height: 22vh;
  width: auto;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  width: 36vw;
}

.viewBioContainer,
.editBioContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editBioContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonContainer {
  margin: 2vh 0 -5.5vh;
}

.bioLabel {
  display: flex;
  flex-direction: column;
  width: 36vw;
}

.bioLabel textarea {
  border-radius: var(--button-border);
  background-color: var(--gray-dark);
  border: 1px solid var(--gray-lightest);
  color: var(--color-text);
  width: 33vw;
  height: 7.6vh;
  margin-top: 1vh;
  resize: none;
  font-size: 1.7vh;
  padding: 1vh;
  padding-top: 1.4vh;
}

.viewBioContainer {
  border-radius: var(--button-border);
  background-color: var(--gray-dark);
  color: var(--color-text);
  border: none;
  width: 33vw;
  height: 8vh;
  margin-top: 1vh;
  font-size: 1.8vh;
  display: flex;
  align-items: first baseline;
  padding: 1vh;
}

.textInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
  width: 34vw;
  align-items: baseline;
}

.bio {
  color: var(--text-color-secondary);
}

.bioLabel p {
  margin: 0;
}

.followInfo {
  display: flex;
  width: 14vw;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 8vw;
}

.followCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.6vh;
  color: var(--text-color-secondary);
  margin-bottom: 1vh;
}

.follows {
  margin: 0;
}

.socialMediaContainer {
  width: 34vw;
  display: flex;
  justify-content: flex-end;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
  width: 5vw;
}

.socialMedia img {
  width: 1.2vw;
  height: auto;
}

.editButton,
.saveButton,
.emojiButton {
  background: none;
  border: none;
  cursor: pointer;
}

.buttonContainer {
  width: 13vw;
  display: flex;
  justify-content: space-between;
}

.emojiButton {
  position: absolute;
  bottom: 2vh;
  right: 3vw;
  height: 2vh;
  width: 2vh;
}

.emojiButton img {
  position: absolute;
  height: 2vh;
  width: 2vh;
}

.emojiPickerContainer {
  position: absolute;
  top: 0%;
  right: -15%;
  z-index: 10;
}

.emojiPickerContainer .emoji-picker-react {
  background-color: var(--gray-dark);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: (--card-border);
  padding: 10px;
}

.emojiPickerContainer .emoji-picker-react .emoji-group {
  max-height: 200px;
  overflow-y: auto;
}

.emojiPickerContainer .closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.followButton {
  border-radius: var(--input-border);
  background-color: var(--primary-color);
  color: var(--gray-dark);
  padding: 0.5vh 0.5vw;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 0;
  top: 1vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.followButton:hover svg {
  margin-left: 0.3vw;
}

.following {
  background-color: var(--gray-lightest);
  color: var(--text-color);
}

.pop {
  animation: pop 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Mobile-specific styles */
.mainInfo_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.imgSection_mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Adjusted for mobile */
}

.avatar_mobile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userInfo_mobile {
  display: flex;
  flex-direction: column;
  align-items: center; /* Adjusted for mobile */
  text-align: center; /* Adjusted for mobile */
  width: 100%;
}

.textInfo_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* Adjusted for mobile */
}

.followInfo_mobile {
  display: flex;
  justify-content: center;
  align-items: center; /* Adjusted for mobile */
  margin-top: 1rem;
  width: 100%; /* Adjusted for mobile */
}

.followCard_mobile {
  margin: 0.5rem 0;
}

.bioContainer_mobile {
  width: 100%;
  margin-top: 1rem;
}

.bioLabel_mobile {
  width: 100%;
  text-align: center;
}

.viewBioContainer_mobile,
.editBioContainer_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Adjusted for mobile */
}

.socialMediaContainer_mobile {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.socialMedia_mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.followButton_mobile {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  align-self: center;
  width: 100%; /* Adjusted for mobile */
  position: relative;
  top: 1vh;
}