.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 89vw;
  padding: 2vh;
  background-color: var(--gray-medium);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #27282c);
  border-radius: var(--card-border);
  color: rgb(215, 215, 215);
}

.profileInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.avatarContainer {
  position: relative;
  margin-right: 2vw;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.editButton {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userInfo h2 {
  margin-bottom: 1vh;
  color: #fff;
}

.userInfo p {
  margin: 0.5vh 0;
}