.row{
    display: flex;
    justify-content: space-between;
    width: 55vw;
    margin: 0 auto;
   margin-left: 0;
   margin-bottom: 1vh;
  }

  .weightInput input{
    width: 3vw;
    font-size: 2.4vh;
    font-weight: 500;
    padding-left: 1.5vw;
    margin-top: -0.6vh;
    margin-bottom: 0.6vh;
  }

  .weightInput{
    margin-top: 0.4vh;
    padding: 0.2vh 0;
    padding-top: 0;
  }

  .cardColumn {
    display: flex;
    flex-direction: column;
  }