.background {
  display: flex;
  background-size: cover; 
  background-position: center;
  justify-content: flex-end;
  min-height: 100vh;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 3vw;
  margin-top: 6vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
}