.row {
display: flex;
justify-content: center;
width: 100%;
margin: 0 auto;
text-align: center;
}


.input {
padding: 2px 12px;
width: 16.8vw;
height: 3vh;
}

.selectionInput {
  cursor: pointer;
  padding: 2px 12px;
  width: 16.8vw;
  height: 3.65vh;
  }

input::placeholder{
  color: #8d8d8d;
}


/*Calendar*/

.label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 3vh;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  
}

.buttonGroup {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.title {
  margin-bottom: 3vh;
}

.title2{
  margin-top: 0
}

.content {
  height: 54vh;
}