.healthTips {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 1rem;
    overflow-y: auto;
    max-height: 100%;
    }
  
  .blogPost {
    display: flex;
    flex-direction: row;
    background-color: var(--gray-medium);
    border-radius: var(--card-border);
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.2s;
    height: 12vh;
  }
  
  .blogPost:hover {
    transform: scale(1.02);
  }
  
  .blogImage {
    width: 12vh;
    height: 12vh;
    object-fit: cover;
  }
  
  .blogContent {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .blogContent h3 {
    margin: 0 0 0.5rem 0;
   
  }
  
  .blogContent p {
    margin: 0;
    font-size: 1rem;
    color: var(--text-color-secondary)
  }

  .healthTips a {
    color: var(--text-color)
  }