.container{
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: default;
  align-items: center;
  z-index: 999;
}

.caloriesContainer {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
width:13vw
}

.textContainer{
  position:absolute;
  text-align: center;
  margin-left: 4vw;
}


.caloriesContainer h1, .caloriesContainer p {
  margin: 0.2vh
}

.caloriesContainer h1 {
  font-size: 3vh;
}

.macroPercentage{
  display: flex;
  width: 15vw;
  justify-content: space-between;
}

.macroPercentage p {
  margin-bottom: 0.8vh;
}

.progressBarWrapper {
  display: flex;
  width: 100%;
  height: 1.2vh;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1vh;
  background-color: #ffffff; /* Background color of the progress bar */
}

.progressBarSegment {
  height: 100%;
  transition: width 0.8s ease-in-out;
}

.progressBarRemaining {
  height: 100%;
  transition: width 0.8s ease-in-out;
}