.heroText button, .bannerText button {
    margin-left: 0;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2.6vh;
    background-image: url( "./hero.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    background-size: 100vw auto;
    background-position: center;
    object-fit: cover;
    position: relative;
  }
  
  .hero_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2.6vh;
    background-image: url( "./hero.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vh;
    background-size: auto 50vh;
    background-position: center;
    object-fit: cover;
    position: relative;
  }
  
  .heroText {
    display: flex;
    flex-direction: column;
  width: 65vw;
  margin: 0 auto;
  }
  
  .hero span {
    color: var(--primary-color);
  }