.profileContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.inputGroup label {
  margin-bottom: 5px;
}

.profilePicture {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  margin: 1vh auto;
}

.imagePlaceholder {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.userInfoContainer {
  margin-right: 1vw;
  width: 24vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.column {
  margin-right: 1vw;
}

.photoUpload {
  display: flex;
  flex-direction: column;
}

.photoUpload input {
  width: 20vw;
}

.personalInfoContainer{
  width: 18vw;
}

.activityContainer {
  width: 26vw;}

  .activityContainer, .personalInfoContainer, .userInfoContainer {
    padding: 0 2vw 1vh 2vw;
  }

  .activityButtons, .cardsContainer {
    display: flex;
  }  

  
  .goalContainer {
    display: block;
    text-align: left;
  }
  
  .cardsContainer {
    display: flex;
    justify-content: space-around;
    margin: 2vh auto 3vh auto;
    width: 24vw;
  }

  .selectedGoalLabel{
    display: flex;
    justify-content: center;
    color:  var(--text-color-secondary);
  }
  
  .goalCard {
    border: 1px solid var(--text-color);
    border-radius: var(--card-border);
    width: 10vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: flex;
  }
  
  .activeGoal {
    background-color: var(--primary-color);
    color: var(--gray-medium);
    border: none;
  }


  .activityButtons {
    display: flex;
    width: 28vw;
justify-content: center;
margin: 0 auto;
}

.goalIcon {
  height: 6vh;
}
