.container h2 {
 margin-top: 3vh;
  text-align: center;
  margin-bottom: 3vh;
  color: white;
}
  .container{
    display: flex;
    flex-direction: column;
    color: rgb(215, 215, 215);
    border-radius: 2vh;
    padding: 0 26px 26px 26px;
    margin-bottom: 2.5vh;
    min-width: 22vw;
    min-height: 17vw;
  }


  .workoutList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .workoutCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292929;
    color: var(--primary-color);
    border-radius: 10px;
    padding: 1vh 2vh 1vh 2vh;
    margin-bottom:  2vh;
    height: 8vh;
  }

  .workoutCard h3{
    margin-top: 3vh;
  }
  

  .muscleList {
    color: #aaaaaa;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -0.5vh;
  }
  

  .detailButton{
    border: none;;
  }

  .createButton{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    width: 20vw;
    margin-top: 1vh;
  }

  .addButton {
    color: var(--primary-color);
list-style: none;
cursor: pointer;
  }

  .addButton:hover {
    color:#e3a126;
    transition: 300ms;
  }

  
  .nameAndIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nameAndIcon img {
margin: 0 10px;
height: 18px;
  }