.container {
    text-align: center;
    width: 35vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
  }
  .container h2 {margin-top: 0;
margin-bottom: -1vh;}

  
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .labels button {
    margin: 1vh auto 2vh auto
  }

 
  .labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
  }

  .labels p {
    margin-bottom: 0;
  }
  
  .quantityLabels {
    display: flex;
    width: 24vw;
    margin-bottom: 2vh;
    align-items: last baseline;
  }

  .quantityInput {
    width: 17vw;
    height: 2.6vh;
    margin-right: 1vw;
  }

  .quantityTypeInput {
    width: 6vw;
    height: 3vh;
  }

  .caloriesResultInput {
    height: 3vh;
  }


.label, .quantityLabel, .quantityTypeLabel{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .label, .ingredientInput {
    width: 24vw;
  }



  .suggestions {
    height: 10vh;
    overflow: auto;
  position: absolute;
  top: 4.3vh;
    background-color: var(--gray-light);
    width: 16vw;
    list-style: none;
  }
  
  .suggestions li {
    cursor: pointer;
  }

.ingredientInput {
    height: 2.6vh;
}

.list {
    border: none;
    width: 24vw;
    height: 12vh;
    resize: none;
    background-color: var(--gray-dark);
    border-radius: 1vh;
    margin-bottom: 2vh;
}



.buttonContainer {
    width: 25vw;
    margin: 3vh auto;
}