.container {
    text-align: center;
    width: 35vw;
    height: 65vh;
    ;
  }
  .container h2 {margin-top: 0;
margin-bottom: -1vh;}

  
  .imageContainer {
    position: relative;
    margin-right: 1vw;
  }

  .nameContainer {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }

  .nameContainer input {
    width: 24.6vw;
  }
  
  .recipeImage {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    object-fit: cover;
   
  }
  
  .editIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-color: black;
    padding: 8px;
    border-radius: 50%;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.buttonRow {
  display: flex;
  width: 30vw;
 justify-content: space-between;
}

  .buttonRow button {
    margin: 0 10px;
    padding: 0 6px;
  }

  .label {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 30vw;
    margin: 1vh auto 3vh auto;
}

.label input {
    height: 2.6vh;
}

.upload {
  margin-top: -0.6vh;
  margin-bottom: 0;
}

.photoUploadInputs {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}

.photoUploadInput, .photoUploadInputs button {
  width: 13vw;
  margin: 0;
}

.photoUploadInputs button {
  height: 3.2vh;
  border-radius: var(--input-border);
}
