
.addContainer {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 2vh;
  border: 2px solid rgb(49, 49, 49);;
  padding:0 20px 20px 20px;
  margin: 2vh 0;
  position: absolute;
  left:0.2vw;
  width: 25vw;
}


.input {
  height: 27px;
  border-radius: 4px;
  border: none;
  width: 6vw;
}

.option{
  height: 27px;
  border-radius: 4px;
  border: none;
  min-width: 8vw;
}

.exerciseOptions{
  display: flex;
}

.exerciseOption{
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  width: 6vw;
}


.optionsContainer{
  display: flex;
  flex-direction: row;;
}

.closeButton{
  cursor: pointer;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
}

.addContainer button {
  margin-top: 3vh;
  margin-bottom: 2vh;
}