.searchResults {
  position: absolute;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 19vw;
  background-color: var(--gray-medium);
  border-radius: 1vh;
  max-height: 22vh;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 1px;
}

.searchResultItem {
  display: flex;
  align-items: center;
  padding: 0.5vh 1vw;
  cursor: pointer;
  width: 17vw;
  height: 4.5vh;
}

.searchResultItem:last-child {
  border-bottom: none; /* Remove bottom border from last item */
}

.searchResultItem:hover {
  background-color: var(--gray-dark);
  border-radius: 1vh;
}

.searchResultImage {
  width: 3.6vh;
  height: 3.6vh;
  border-radius: 50%;
  margin-right: 0.6vw;
  flex-shrink: 0; /* Ensure image size remains consistent */
}

.searchBar {
  position: relative;
}

.searchBar_mobile {
  position: relative;
}

.searchBarImage {
  fill: white;
  height: 2.6vh;
  position: absolute;
  top: 22%;
  left: 3%;
}

.searchBar input {
  height: 4vh;
  width: 16vw;
  background-color: transparent;
  border: 1px solid #4D4F56;
  border-radius: 100px;
  color: white;
  padding-left: 2.6vw;
}

.searchBar_mobile input {
  height: 4vh;
  width: 30vw; /* Adjust width for mobile view */
  background-color: transparent;
  border: 1px solid #4D4F56;
  border-radius: 100px;
  color: white;
  padding-left: 3vw;
}

.hidden {
  display: none;
}

/* Media query for mobile responsiveness */
@media (max-width: 600px) {
  .searchResults {
    width: 47vw; /* Adjust width for mobile view */
  }

  .searchResultItem {
    width: 38vw; /* Adjust width for mobile view */
  }

  .searchBarImage {
    left: 2vw; /* Adjust position for mobile view */
    top: 23%;
  }
}