.container {
  display: flex;
  width: 94vw;
  height: 12vh;
  justify-content: left;
  margin-bottom: 3vh;
  text-align: left;
  color: white;
  background-color: #242529;
  border-bottom: 1px solid #33353B;
}

/* Greeting */
.greetingContainer {
  display: flex;
  align-items: center;
  width: 87vw;
  justify-content: space-between;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 2vw;
}

.greeting h2 {
  margin: 1vh 0;
}

.greeting p {
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
  margin-left: 0.1vw;
}

.pageGreeting {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 1vw;
}


/* Notification Icon */
.notification {
  display: flex;
  width: 6vh;
  height: 6vh;
  border-radius: 3vh;
  background-color: var(--gray-medium);
  justify-content: center;
  align-items: center;
}

.notification img {
  height: 3vh;
}

/* User Image */
.avatar {
  width: 6vh;
  height: 6vh;
  border-radius: 3vh;
  background-position: center;
  background-size: cover;
}

.avatar img {
  width: 6vh;
  height: 6vh;
  border-radius: 3vh;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.searchAndIcons {
  display: flex;
  align-items: center;
  width: 33vw;
  justify-content: space-between;
}

