.section {
  margin-bottom: 40px;
  background-color: #35373D;
 /* Base color */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #2b2c31);
  border-radius: 16px;
  padding: 20px;
  min-width: 40vw;
  min-height: 30vh;
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(0);
 }
  to {
      opacity: 1;
      transform: translateY(0);
 }
}
.section h2 {
  text-align: center;
  margin-bottom: 3vh;
}
.exerciseList, .selectedExercises, .workoutPreview {
  width: 30%;
}
.selectedExercises h3, .workoutPreview h3 {
  margin-bottom: 10px;
}
.workoutPreview ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.row {
  display: flex;
}
.weekDays {
  display: flex;
}
.listContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  min-height: 50vh;
}
.lists {
  display: flex;
  margin: 0 auto;
}
.lists li {
  text-align: left;
}
.lists img {
  margin-right: 10px;
}
.activeNext, .inactiveNext {
  display: flex;
  align-items: center;
  background-color: var(--text-color);
  color: #121212;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}
.exerciseList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.exerciseItem {
  margin-bottom: 20px;
}
.setsReps {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.groupContainer h3 {
  color: var(--primary-color);
  margin: 0;
}
.exerciseItem {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: -1vh;
}
.exerciseItem input {
  margin: 0 8px;
  width: 4vw;
}
.exerciseItem h3 {
  flex: 1;
}
.setsRepsWeight {
  margin-left: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
}
.exerciseItem h4 {
  width: 18vw;
}
.setsRepsWeightHeader {
  display: flex;
  align-items: center;
  margin-right: 0.4vw;
}
.setsRepsWeightHeader h3 {
  margin: 0 1.55vw;
}
.option {
  margin-bottom: 2vh;
}
.popup {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 60%);
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
  max-width: 80vw;
 /* Set a maximum width */
  max-height: 80vh;
  overflow: auto;
 /* Add overflow to enable scrolling if content exceeds viewport */
  opacity: 0;
  animation: popupFadeInUp 0.5s forwards;
}
@keyframes popupFadeInUp {
  from {
      opacity: 0;
      transform: translate(-50%, -50%);
 }
  to {
      opacity: 1;
      transform: translate(-50%, -50%);
 }
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
 /* Adjust opacity as needed */
  z-index: 998;
 /* Ensure the background is behind the popup */
  opacity: 0;
  animation: backgroundFadeIn 0.5s forwards;
}
@keyframes backgroundFadeIn {
  from {
      opacity: 0;
 }
  to {
      opacity: 1;
 }
}
.popup .closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}
.closeButton:hover {
  color: #000;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
 /* Adjust the height to make it smaller */
}
::-webkit-scrollbar-track {
  background-color: var(--text-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
