.row {
display: flex;
justify-content: space-between;
width: 36vw;
margin: 0 auto;
}

.groupRow {
  display: flex;
margin: 0 auto;
flex-wrap: wrap;
justify-content: center;
}

.groupRow button {
  margin-bottom: 2vh;
}

.input {
padding: 2px 12px;
width: 16.8vw;
height: 3vh;
}

.selectionInput {
  cursor: pointer;
  padding: 2px 12px;
  width: 16.8vw;
  height: 3.65vh;
  }

input::placeholder{
  color: #8d8d8d;
}

.groupSelection {
  width: 38vw;
  display: flex;
  margin: 3vh auto;
  text-align: center;

}

.active {
background-color: var(--primary-color);
border: 1px solid var(--primary-color);
color: #242529;
padding: 8px 16px;
}

.inactive {
  background-color: #35373D;
  border: 1px solid #4D4F56;
  color: #DCDCDD;
}

.inactive:hover {
  transition: 300ms;
  background-color: var(--primary-color);
  border: 1px solid  var(--primary-color);
  color: #121212;
}

.active:hover {
transition: 300ms;
background-color: var(--primary-color);
border: 1px solid  var(--primary-color);
}
 
/*Calendar*/

.weekLabel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 4vh;
}

.daysContainer {
display: flex;
margin: 0.5vh auto;
justify-content: center;
}

.dayCircle {
width: 40px;
height: 40px;
border: 1px solid #4D4F56;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
color: #DCDCDD;
cursor: pointer;
margin:0 10px;
}
  
.dayCircle:hover {
transition: 300ms;
background-color: var(--primary-color);
border: 1px solid var(--primary-color);
color: #121212;
} 

.selectedDay {
background-color: var(--primary-color);
border: 1px solid  var(--primary-color);
color: #242529;
}


.nextButtonContainer {
margin: 2vh auto;
display: flex;
justify-content: center;
}

/*Group Component */

.groupSection {
  width: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  margin: 3vh auto 3vh auto;
  height: 15vh;
}

.title {
  display: flex;
 justify-content: center;
}

.buttonContainer {
  display: flex;
  width: 15vw;
  margin: 3vh auto;
}