/*Container*/ 
 
.registerContainer {
  color: #FFFFFF;
display: flex;
flex-direction: column;
align-items: center;
background-color: var(--gray-medium);
background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #2b2c31); 
width: 34vw;
margin-top: 16vh;
margin-right: 9vw;
border-radius: 2vh;
height: 80vh;
}

.registerContainer h2 {
margin-top:4vh;
text-align: center;
margin-bottom: 0;
}

.registerContainer form {
display: flex;
flex-direction: column;
text-align: left;
width: 26vw;
}

.registerContainer form button {
  margin-top: 3vh;
}

.registerContainer label {
display: flex;
justify-content: flex-end;
text-align: left;
flex-direction: column;
}

.nameContainer {
  display: flex;
  justify-content: space-between;
}

.inputField {
margin-bottom: 2.5vh;
padding: 0.5vw;
border-radius: 0.8vh;
background-color: var(--gray-light);
border: 1px solid var(--gray-lightest);
}

.nameInputField {
  margin-bottom: 2.5vh;
  padding: 0.5vw;
  border-radius: 0.8vh;
  background-color: var(--gray-light);
  border: 1px solid var(--gray-lightest);
  width: 11vw;
  }

.title {
  margin-bottom: 5vh;
}

.registerContainer p {
text-align: center;
}

.register span {
text-align: left;
}

label span {
padding-left: 8px;
margin-bottom: 1vh;
}  

.or {
  margin: 3vh 0
}


/*Register Option Buttons */

.loginOptions {
display: flex;
justify-content: space-between;
margin: 0;
width: 26vw;
}

.loginOptions p {
margin: 0;
}


.googleButton,
.appleButton {
display: flex;
align-items: center;
justify-content: center;
border: none;
border-radius: 0.8vh;
background-color: var(--gray-light);
border: 1px solid var(--gray-lightest);
cursor: pointer;
transition: background-color 0.3s ease;
width: 12.5vw;
padding: 0.5vw;
margin: 0
}

.googleButton:hover,
.appleButton:hover {
background-color: #e0e0e0;
}

/* Styling for icons */
.registerContainer svg {
margin-right: 1vw;
fill:  var(--primary-color);
}

.register a {
  color: var(--primary-color);
}
