.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 88vw;
    cursor: default;
  }
  
  .mainSection {
    display: flex;
    margin: 0 auto;
    width: 92vw;
    justify-content: center;
    margin-left: 1vw;
    margin-bottom: 3vh;
  }
  
  .firstCardColumn,
  .secondCardColumn {
    margin-right: 1vw;
  }
  
  .friendsCard,
  .feedCard,
  .recommendationsCard {
    width: 23vw;
    height: 80vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .feedCard {
    width: 37vw;
    height: 80vh;
  }
  
  .cardTitle {
    color: var(--text-color);
    margin-top: 0;
    padding: 2vh 0 0 2vh;
  }
  
  .titleAndButton {
    width: 22vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
  }
  
  .addButton {
    background-color: #6c757d;
    border: none;
    border-radius: 1vh;
    color: #fff;
    cursor: pointer;
    padding: 0.5em;
    margin-right: 0.8vw;
  }
  
  .addButton:hover {
    background-color: #5a6268;
  }
  
  .friendsList,
  .activityList,
  .recommendationsList {
    padding: 2vh;
    color: #ccc;
  }
  
  .friendItem,
  .activityItem {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
  }
  
  .friendItem svg,
  .activityItem svg {
    margin-right: 1vh;
    color: #fff;
  }
  
  .recommendationsList p {
    color: #ccc;
  }

  .feedCard_mobile {
    width: 90%;
    display: flex;
    margin: 0 auto 20px auto;
  }

  .recommendationsCard_mobile {
    width: 90%;
    display: flex;
    margin: 0 auto 20px auto;
  }

  .friendsCard_mobile {
    width: 90%;
    display: flex;
    margin: 0 auto 20px auto;
  }