.container {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  width: 100vw;
  margin: 0 auto;
  align-items: top;
}

.container h1 {
  margin: 0;
  font-size: 5.5vh;
}

.container  p {
  font-size: 2vh;
  margin: 3vh 0
}  

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2.6vh;
  background-image: url( "./newHero.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 70vh;
  background-size: 100vw auto;
  background-position: center;
  object-fit: cover;
  position: relative;
}

.heroText {
  display: flex;
  flex-direction: column;
width: 65vw;
margin: 0 auto;
}

.partners{
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 65vw;
  margin: 0 auto;
  margin-bottom: 4vh;
}

.partners img {
  width: 65vw;
  height: auto;
  margin: 1vh 0 6vh 0;
}

.banner {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  width: 76vw;
  margin: 0 auto;
  align-items: top;
  height: 50vh;
  align-items: center;
  position: relative
}

.bannerImage {
  height: 50vh;
  width: 38vw;
  background-image: url("./hero2.png");
  background-size: 30vw auto;
  object-fit: cover;
  background-repeat: no-repeat;
}

.bannerText {
  width: 38vw;
  height: 45vh;
}

.bannerText span, .heroText span {
  color: var(--primary-color);
}

.bannerText p, .heroText p{
  margin-bottom: 5vh;

}
    
.cardContainer{
  height: 20vh;
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 8vh auto;
}

.card{
  width: 20vh;
  height: 20vh;
  border-radius: 1.8vh;
  background-color: #35373D; /* Base color */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #2b2c31); 
  color: var(--text-color);
  text-align:center;
} 

.icon {
  height: 8vh;
  padding-top: 10px;
}

.button {
  background-color: var(--primary-color);
  color: #4D4F56;
  font-weight: 500;
}