.container {
    text-align: center;
    width: 35vw;
    height: 65vh;
  }
  .container h2 {margin-top: 0;
margin-bottom: -1vh;}


.container h3 {
    margin-bottom: 1vh;
}
  .options {
    width: 33vw;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin: 1vh auto;
  }
  
  .option {
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.8;
  }
  
  .option:hover {
    transform: scale(1.05);
    opacity: 1;
  }
  
  .image {
    border-radius: 2vh;
    width: 15vw;
    height: 40vh;
  }
  
  .nextButton {
    margin-top: 20px;
  }

  .hoverText {
    width: 30vw;
    color: var(--text-color-secondary);
    margin:4vh auto
  }

  .loaderContainer {
    width: 35vw;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }