 .cardsList {
    list-style: none;
   padding: 0;
  }

  .cardClosed {
    background-color: var(--gray-medium);
    min-height: 7vh;
    padding: 0 2vw;
    width: 24vw;
    border-radius: 2vh;
    margin: 2vh auto;
    position: relative;
  }

  .cardOpened {
    background-color: var(--gray-medium);
    min-height: 30vh;
    padding: 0 2vw;
    width: 24vw;
    border-radius: 2vh;
    margin: 2vh auto;
    position: relative;
 
  }

  .titleAndIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }

  
.arrowIcon {
    height: 3vh;
    width: 3vh;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    .cardsList {
      list-style: none;
     padding: 0;
    }
  
    .cardClosed {
      background-color: var(--gray-medium);
      min-height: 7vh;
      padding: 0 2vw;
      width: 90%;
      border-radius: 2vh;
      margin: 20px auto;
      position: relative;
    }
  
    .cardOpened {
      background-color: var(--gray-medium);
      min-height: 32px;
      padding: 0 2vw;
      width: 90%;
      border-radius: 2vh;
      margin: 20px auto;
      position: relative;
   
    }
  
    .titleAndIcon {
      display: flex;
      align-items: center;
      justify-content: space-between;
    
    }
  
    
  .arrowIcon {
      height: 3vh;
      width: 3vh;
      cursor: pointer;
    }
  }